<h1>Sign In</h1>

<%= form_for resource_name, resource,
    :url => session_path(resource_name) do |f| %>
  <h3>
    Type your OpenID URL
    <% unless default_login.blank? %>
      or leave blank to login via <%= server_human_name %>
    <% end %>
  </h3>
  <%= f.text_field :identity_url, :id => "login" %>
  <%= f.submit "Login via OpenID" %>
<% end %>
