<h1>Sign In</h1>

<%= form_for resource_name, resource,
    :url => session_path(resource_name) do |f| %>
  <h3>Please enter your ASSDA user name:</h3>
  <%= f.text_field :identity_url, :id => "login" %>
  <%= f.submit "Login via ASSDA" %>
<% end %>
